APP_NAME=Prime Estate

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

POSTGRES_DB=prime_estate
POSTGRES_USER=prime_estate
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
APP_PORT=3000
DATABASE_URL=

RESEND=
BASE_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_FROM=Prime Estate <noreply@prime-estate.local>
